
  <!-- <img src='{{image}}' alt='catdog' /> -->
{{name}}
{{{content}}}
  <ul>
  <!-- for loop -->
    {{#each friends}}
    <li>{{name}} - {{age}} - {{year}}</li>
    <!-- if statement -->
    {{#if age}}
    - you are {{age}}
    {{/if}}
    {{#if age}}
    - You were born in {{year}}
    {{/if}}
    {{/each}}
    <!-- end for loop -->
  </ul>
